tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 50px;
}

tei-opener, tei-closer {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 50px;
  font-weight: bold;
}

* {
  background-color: lightgrey;
}



tei-dateline {
  text-align: right;
  padding: 50px;
  display: block;
}
